name: Deploy on EC2

on:
  push:
    branches: [master]

jobs:
  tests:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup python
        uses: actions/setup-python@v2
        with:
          python-version: 3.11

      - name: Install Requirements
        run: |
          pip install --upgrade pip
          pip install -r dev-requirements.txt
      - name: Run PyLint
        run: pylint ./src

  docker_build:
    name: Build and push docker container
    needs: tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          cache-from: type=gha
          cache-to: type=gha,mode=max
          tags: ghcr.io/wkk-offcial/the_boi_redemption_arc/boi_redemption_arc:latest

  deploy:
    name: Deploy to EC2
    needs: docker_build
    runs-on: ubuntu-latest
    steps:
      - name: Chcekout Repository
        uses: actions/checkout@v3
      - name: Run playbook
        uses: dawidd6/action-ansible-playbook@v2.6.1
        with:
          key: ${{secrets.BOI_PRIVATE_KEY}}
          playbook: deploy_playbook.yml
          inventory: |
            [all]
            ${{secrets.BOI_HOSTNAME}}
          options: |
            --extra-vars BOT_TOKEN={{secrets.BOI_DISCORD_TOKEN}}
    # - name: Deploy Image on EC2
    #   uses: appleboy/ssh-action@v0.1.8
    #   env:
    #     DISCORD_TOKEN: ${{secrets.BOI_DISCORD_TOKEN}}
    #   with:
    #     host: ${{secrets.BOI_HOSTNAME}}
    #     username: ec2-user
    #     key: ${{secrets.BOI_PRIVATE_KEY}}
    #     envs: DISCORD_TOKEN
    #     script: |
    #       docker pull ghcr.io/wkk-offcial/the_boi_redemption_arc/boi_redemption_arc:latest
    #       docker ps -q --filter "name=wkk_boi" | grep -q . && docker stop wkk_boi && docker rm -fv wkk_boi
    #       docker run --detach --env BOT_TOKEN=$DISCORD_TOKEN --name wkk_boi ghcr.io/wkk-offcial/the_boi_redemption_arc/boi_redemption_arc:latest